 <!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title> Protected Page</title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="/styles.css">

	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>


	<link rel="icon" href="data:;base64,=">

  <script src="/events.js"></script>
</head>

<body>
  <div class="wrapper">

    <div class="header">
      <div class="header-right">
        <h2> <span class="hello">Hello,</span> I'm Lucy Mo </h2>
        <h1> Junior Web Developer </h1>
        <p class="header-para">Freelance web designer and developer and computer scientist to-be. </p>
        <div class="buttons">
          <div class="button1">
            <span class="button-text">Hire Me</span>
          </div>
          <div class="button2">
            <span class="button-text">Resume</span>
          </div>
        </div>
      </div>
      <div class="header-left">
        <img src="/images/header1.png" width="87%">
      </div>
    </div>

    <div class="skills">
      <div class="skills-container">
        <h3> skills </h3>
        <h4> What i do </h4>
        <div class="skills-line"></div>
        <div class="icons-container">
          <div class="icon">
            <img src="/images/asset1.png" class="icon-img">
            <span class="skills-header"> Development </span>
            <p class="skills-para">HTML, CSS, Javascript, Python, <br>Flask, jQuery, React</p>
          </div>
          <div class="icon">
            <img src="/images/asset2.png" class="icon-img">
            <span class="skills-header"> Design </span>
            <p class="skills-para">CSS, Javascript, Prototyping <br>Responsive Design, Webflow</p>
          </div>
          <div class="icon">
            <img src="/images/asset3.png" class="icon-img">
            <span class="skills-header"> Debug </span>
            <p class="skills-para">HTTP Response <br>Status: 200 OK</p>
          </div>
      </div>
    </div>

    <div class="portfolio">
      <div class="portfolio-container">
        <h3> portfolio </h3>
        <h4> what i've done </h4>
        <div class="skills-line"></div>
        <div class="projects-container">
          <div class="portfolio-project">
            <div class="portfolio-project-heading">
              <div class="portfolio-circle1"></div>
              <h5><span class="project1"> XdHacksMini <br> Website </span></h5>
            </div>
            <p class="portfolio-para">As the Chief Director of IT and the Director of IT for Vancouver 2019-2020,  I designed and built the XdHacksMini Website using Webflow.</p>
          </div>
          <div class="portfolio-project">
            <div class="portfolio-project-heading">
              <div class="portfolio-circle2"></div>
              <h5><span class="project2"> XdHacksMini <br> Website </span></h5>
            </div>
            <p class="portfolio-para">As the Chief Director of IT and the Director of IT for Vancouver 2019-2020,  I designed and built the XdHacksMini Website using Webflow.</p>
          </div>
          <div class="portfolio-project">
            <div class="portfolio-project-heading">
              <div class="portfolio-circle3"></div>
              <h5><span class="project3"> XdHacksMini <br> Website </span></h5>
            </div>
            <p class="portfolio-para">As the Chief Director of IT and the Director of IT for Vancouver 2019-2020,  I designed and built the XdHacksMini Website using Webflow.</p>
          </div>
        </div>
        <div class="portfolio-more"><a href='/hi'> View all ➜ </a></div>
      </div>
    </div>

    <div class="services">
      <div class="services-heading">
        <span class="services-title"> services </span>
        <span class="services-subtitle"> what I offer </spam>
        <div class="services-line"></div>
      </div>
      <div class="services-container">
          <div class="services-left">
            <img src='/images/Artboard163.png' width='200%' style="margin-right: auto;">
          </div>
          <div class="services-right">
            <img src='/images/asset10.png' height='550px' width='300px' style='position:absolute;'>
            <div class="services-box1">
              <span class="services-box-title">Portfolio</span>
              <p class="services-box-para">Are you a photographer? Graphic designer? Artist? Show off you works with an amazing online portfolio.</p>
            </div>
            <div class="services-box2">
              <span class="services-box-title">Resume</span>
              <p class="services-box-para">Applying for a job or internship? Have your resume on a website for accessibility and easy navigation.</p>
            </div>
            <div class="services-box3">
              <span class="services-box-title">Website</span>
              <p class="services-box-para">Are you an organization? Or needing a website for something else? Let’s get in touch and chat about it!</p>
            </div>
          </div>
      </div>
    </div>

    <div class="contact">
      <div class="contact-container">
        <h3> contact </h3>
        <h4> Let's get in touch </h4>
        <div class="skills-line"></div>
        <div class='chat-box'>
          <div class='chat-box-text'>
            <span class='chat-box-title'>Work Inquiry</span>
            <span class='chat-box-subtitle'>Let's work together! Drop me a message here</span>
          </div>
          <div class='chat-button'>Let's Chat</div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-content">
      <span class="footer-name">Lucy Mo</span>
      <div class="footer-menu">
        <span class="footer-menu-links">About</span>
        <span class="footer-menu-links">Portfolio</span>
        <span class="footer-menu-links">Services</span>
        <span class="footer-menu-links">Contact</span>
      </div>
      <span class="footer-copyright">@2020 lululucyyyyyyy all rights reserved</span>
    </div>
    <div class="footer-colors">
      <div class='footer1'></div>
      <div class='footer2'></div>
      <div class='footer3'></div>
      <div class='footer4'></div>
    </div>
  </div>
</body>
</html>